/* Estilos globales con mayor especificidad usando clases específicas */
/* FOOTER */
.app-footer {
  background-color: #F0F8FF !important;
  color: #000;
  padding: 20px 0;
}
  
.app-footer a {
  color: #000;
  text-decoration: none;
}
  
.app-footer a:hover {
  text-decoration: underline;
}
  
.app-footer .bi {
  font-size: 1.5rem;
}

.us-container{
  background-image: url('https://images.saymedia-content.com/.image/t_share/MTc2MTA3NDM4NzMzMjcyOTY3/top-10-most-beautiful-animals-in-the-world.jpg');
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

/* SHARE */
/* Contenedor principal */
.app-share-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Sección izquierda - Inputs */
.app-share-left {
  width: 45%;
}

.app-share-left h2 {
  margin-bottom: 10px;
}

.app-share-left input,
.app-share-left select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Sección derecha - Imagen */
.app-share-right {
  width: 50%;
  text-align: center;
}

.app-image-preview {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.app-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-placeholder {
  font-size: 20px;
  color: #888;
}

/* Botón de carga */
.app-share-left input[type="file"],
.app-share-right input[type="file"] {
  margin: 10px 0;
}

.share-left {
  width: 45%;
}

.share-left h2 {
  margin-bottom: 10px;
}

.share-left input,
.share-left select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Sección derecha - Imagen */
.share-right {
  width: 50%;
  text-align: center;
}

/* US SECTION */
.app-us-container {
  background-image: url('https://images.saymedia-content.com/.image/t_share/MTc2MTA3NDM4NzMzMjcyOTY3/top-10-most-beautiful-animals-in-the-world.jpg');
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  position: relative;
}

.app-circle-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #000;
}

.app-top-img {
  background-color: rgba(0,0,0,0.6);
  width: 100vw;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7);
}

/* validate.css */
.game-link {
  text-decoration: none;
  width: 100%;
  max-width: 1000px;
}

.game-link:hover .shadow-sm {
  background-color: #e0e0d1; /* Cambia el color al pasar el cursor */
  transition: background-color 0.3s ease;
}
